/* Fondo gris para secciones de Reseña, Misión y Visión */
.bg-light-gray {
  background-color: #f2f2f2; /* gris claro */
}

/* Títulos de esas secciones en rojo */
.section-title-red {
  color: #b30000; /* rojo fuerte */
}

/* Título de Talleres en azul */
.title-blue {
  color: #0044cc;
}

/* Título de Galería en rojo */
.title-red {
  color: #cc0000;
}

/* El overlay aparece
.overlay-text {
  opacity: 0;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  transition: opacity 0.5s;
}

.carousel-item:hover .overlay-text {
  opacity: 1;
}

La imagen se hace translúcida al pasar el mouse 
.carousel-item img {
  transition: opacity 0.5s;
}

.carousel-item:hover img {
  opacity: 0.5;
}
*/

